body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .container {
    position: relative;
    height: 100vh;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
   /* filter: blur(2px); */
   
  }
  
  .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 55%;
  }
  
  .button {
    padding: 25px 55px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #333;
  }
  
  .button-left {
    background-color: #00BFFF;
  }
  
  .button-right {
    background-color: blue;
  }
  